<li>
 <% if @users.any? %>
  <div class="users follow">
    <% @users.each do |user| %>
    <%= link_to gravatar_for(user, size:100), user %>
    <%= link_to user.name, user %></br>
    <%= link_to "view my profile", user %></br>
    Microposts:<%= user.microposts.count %>
    <% end %> 
  </div>
 <% end %>   
</li>

